<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           ">
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="pharmacyList" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pharmacyList"/>
    </bean>

    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="pharmacyJMSListener"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="pharmacyList"/>
    </bean>

    <!-- consumer -->
    <!--
    <bean id="pharmacyJMSListener" class="Pharmacy.PharmacyJMSListener">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
    -->

    <!--producer -->
    <bean id="doctor" class="clinic.Doctor">
        <constructor-arg ref="doctor"/>
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="pharmacyList" ref="pharmacyList"/>
    </bean>

</beans>
